# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
serial_cpp/txtDump/note.txt
serial_cpp/sampledumpfiles/gala.atom
serial_cpp/liggghtsData.h.orig
serial_cpp/liggghtsData.cpp.orig
serial_cpp/kernel.h.orig
serial_cpp/kernel.cpp.orig
serial_cpp/compartment.h.orig
serial_cpp/compartment.cpp.orig
serial_cpp/atomFileParser.h.orig
serial_cpp/atomFileParser.cpp.orig
serial_cpp/PBMWithSpecificDEMData.cbp
serial_cpp/Makefile.orig
mpi_cpp/txtDump/velocity.txt
mpi_cpp/txtDump/note.txt
mpi_cpp/txtDump/DEMImpactData.txt
mpi_cpp/txtDump/DEMDiameter.txt
mpi_cpp/txtDump/DEMCollisionData.txt
mpi_cpp/multiple_make.sh
mpi_cpp/debug_run.sh
mpi_cpp/csvDump/particles_5.500000.csv
mpi_cpp/csvDump/particles_5.000000.csv
mpi_cpp/csvDump/particles_4.500000.csv
mpi_cpp/csvDump/particles_4.000000.csv
mpi_cpp/csvDump/particles_3.500000.csv
mpi_cpp/csvDump/particles_3.000000.csv
mpi_cpp/csvDump/particles_2.500000.csv
mpi_cpp/csvDump/particles_2.000000.csv
mpi_cpp/csvDump/particles_1.500000.csv
mpi_cpp/csvDump/particles_1.000000.csv
mpi_cpp/csvDump/particles_0.500000.csv
mpi_cpp/csvDump/liquid_5.500000.csv
mpi_cpp/csvDump/liquid_5.000000.csv
mpi_cpp/csvDump/liquid_4.500000.csv
mpi_cpp/csvDump/liquid_4.000000.csv
mpi_cpp/csvDump/liquid_3.500000.csv
mpi_cpp/csvDump/liquid_3.000000.csv
mpi_cpp/csvDump/liquid_2.500000.csv
mpi_cpp/csvDump/liquid_2.000000.csv
mpi_cpp/csvDump/liquid_1.500000.csv
mpi_cpp/csvDump/liquid_1.000000.csv
mpi_cpp/csvDump/liquid_0.500000.csv
mpi_cpp/csvDump/gas_5.500000.csv
mpi_cpp/csvDump/gas_5.000000.csv
mpi_cpp/csvDump/gas_4.500000.csv
mpi_cpp/csvDump/gas_4.000000.csv
mpi_cpp/csvDump/gas_3.500000.csv
mpi_cpp/csvDump/gas_3.000000.csv
mpi_cpp/csvDump/gas_2.500000.csv
mpi_cpp/csvDump/gas_2.000000.csv
mpi_cpp/csvDump/gas_1.500000.csv
mpi_cpp/csvDump/gas_1.000000.csv
mpi_cpp/csvDump/gas_0.500000.csv
mpi_cpp/csvDump/d50_5.500000.csv
mpi_cpp/csvDump/d50_5.000000.csv
mpi_cpp/csvDump/d50_4.500000.csv
mpi_cpp/csvDump/d50_4.000000.csv
mpi_cpp/csvDump/d50_3.500000.csv
mpi_cpp/csvDump/d50_3.000000.csv
mpi_cpp/csvDump/d50_2.500000.csv
mpi_cpp/csvDump/d50_2.000000.csv
mpi_cpp/csvDump/d50_1.500000.csv
mpi_cpp/csvDump/d50_1.000000.csv
mpi_cpp/csvDump/d50_0.500000.csv
